name: Deploy AI Assistant

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Docker image tag"
        required: true
        default: "latest"

jobs:
  deploy:
    name: Deploy - ${{ github.event.inputs.version }}
    runs-on: ubuntu-latest
    environment: ${{ github.ref == 'refs/heads/master' && 'production' || 'develop' }}
    permissions:
      contents: "read"
      id-token: "write"
    env:
      HELM_RELEASE_SUFIX: ai-assistant
      CHART_NAME: ai-assistant
      CHART_DIR: infrastructure/k8s/helm/charts/ai-assistant
      VALUES_FILE: infrastructure/k8s/helm/charts/ai-assistant/values.yaml
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install infra tools
        uses: ./.github/actions/infra-install

      - name: Configure Google Cloud Auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ vars.GCP_WORKLOAD_IDP }}
          service_account: ${{ vars.GCP_IDP_SERVICE_ACCOUNT_ARTIFACT_REGISTRY }}

      - id: get-credentials
        name: Get GKE credentials
        uses: google-github-actions/get-gke-credentials@v2
        with:
          project_id: ${{ vars.GCP_PROJECT_ID }}
          cluster_name: k8s-${{ vars.GCP_ENVIRONMENT_ID }}
          location: ${{ vars.GCP_LOCATION_ID }}

      - name: Prepare Helm values
        run: |
          yq eval ".image.repository = \"${{ vars.GCP_ARTIFACT_REPOSITORY }}/playground/${{ env.CHART_NAME }}\"" -i "${{ env.VALUES_FILE }}"
          yq eval ".image.tag = \"${{ github.event.inputs.version }}\"" -i "${{ env.VALUES_FILE }}"
          yq eval ".env.OPENAI_API_KEY = \"${{ secrets.AI_ASSISTANT_OPENAI_API_KEY }}\"" -i "${{ env.VALUES_FILE }}"
          yq eval ".env.redis.password = \"${{ secrets.REDIS_PASSWORD }}\"" -i "${{ env.VALUES_FILE }}"
          yq eval ".env.PG_PASSWORD = \"${{ secrets.PSQL_PASSWORD }}\"" -i "${{ env.VALUES_FILE }}"

      - name: Upgrade Pod
        run: |
          if helm status "${{ vars.HELM_RELEASE_PREFIX }}${{ env.HELM_RELEASE_SUFIX}}" >/dev/null 2>&1; then
            echo "Release exists, performing upgrade..."
            helm upgrade "${{ vars.HELM_RELEASE_PREFIX }}${{env.HELM_RELEASE_SUFIX}}" "${{env.CHART_DIR}}/.
          else
            echo "No release found, performing install..."
            helm install "${{ vars.HELM_RELEASE_PREFIX }}${{env.HELM_RELEASE_SUFIX}}" "${{env.CHART_DIR}}/.
          fi

      - name: Restart deployment
        if: ${{ github.ref != 'refs/heads/master' }}
        run: |
          echo "Restarting deployment..."
          kubectl rollout restart deployment ${{vars.HELM_RELEASE_PREFIX}}${{env.HELM_RELEASE_SUFIX}}-${{env.CHART_NAME}}

      - name: Waiting for '${{ vars.HELM_RELEASE_PREFIX }}${{ env.HELM_RELEASE_SUFIX }}-${{ env.CHART_NAME }}' pods to be Ready
        run: |
          echo "Waiting for '${{vars.HELM_RELEASE_PREFIX}}${{env.HELM_RELEASE_SUFIX}}-${{env.CHART_NAME}}' pods to be in 'Running' state..."
          for i in {1..6}; do
            NEW_POD=$(kubectl get pods --no-headers --sort-by=.metadata.creationTimestamp | grep "^${{vars.HELM_RELEASE_PREFIX}}${{env.HELM_RELEASE_SUFIX}}-${{env.CHART_NAME}}" | tail -n 1 | awk '{print $1}')
            POD_STATUS=$(kubectl get pod $NEW_POD --no-headers | awk '{print $3}')
            if [[ "$POD_STATUS" == "Running" ]]; then
              echo "New '${{vars.HELM_RELEASE_PREFIX}}${{env.HELM_RELEASE_SUFIX}}-${{env.CHART_NAME}}' pod ($NEW_POD) is running"
              break
            else
              echo "New '${{vars.HELM_RELEASE_PREFIX}}${{env.HELM_RELEASE_SUFIX}}-${{env.CHART_NAME}}' pod ($NEW_POD) is still in state $POD_STATUS. Retrying in 10 seconds..."
              sleep 10
            fi
          done

      - name: Get logs from the newest '${{ vars.HELM_RELEASE_PREFIX }}${{ env.HELM_RELEASE_SUFIX }}-${{ env.CHART_NAME }}' pod
        run: |
          NEW_POD=$(kubectl get pods --no-headers --sort-by=.metadata.creationTimestamp | grep "^${{vars.HELM_RELEASE_PREFIX}}${{env.HELM_RELEASE_SUFIX}}-${{env.CHART_NAME}}" | tail -n 1 | awk '{print $1}')
          echo "Fetching logs for the new pod: $NEW_POD"
          kubectl logs "$NEW_POD"

      - id: "get-pods"
        name: Show pods
        run: "echo ${{ steps.get-pods.outputs.stdout }}"
